/* taiwanmap */
.subunit-boundary {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 5, 0;
    stroke-linejoin: round;
    stroke-width: 0.25;
}

h2, .subjecttitle, .map-paragraph{
    text-align: center;
}

/* bar chart and line chart Axes */
.axis path,
.axis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

/* borders */

.data_source {
    text-align: center;
}